/*section#contact{
	background-color:#222;
	background-image:url(../img/map-image.png);
	background-position:center;background-repeat:no-repeat
}*/
section#contact .section-heading{
	color:#fff
}
section#contact .form-group{
	margin-bottom:25px
}
section#contact .form-group input,section#contact .form-group textarea{
	padding:20px
}
section#contact .form-group input.form-control{
	height:auto
}
section#contact .form-group textarea.form-control{
	height:236px
}
section#contact .form-control:focus{
	border-color: #e74c3c;
	box-shadow: none
}
section#contact ::-webkit-input-placeholder{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	color:#bbb;
}
section#contact :-moz-placeholder{
	font-family:Montserrat,"Helvetica Neue",
	Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	color:#bbb
}
section#contact ::-moz-placeholder{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	color:#bbb;
}
section#contact :-ms-input-placeholder{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	color:#bbb
}

.btn-send{
	color: black;
	background-color: white;
	border: solid black 1px;
}

.btn-send:hover, .btn-send:focus{
	color: #e74c3c;
}


/* success section START */

.success{
  display: none;
  min-height: 40px;
  background-color: #2ECC71;
  width: 100%;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 18px;
}

/* success section END */


/* validation section START */

.validation-message{
	color: #e74c3c;
}

.has-error .form-control{
	border-color: #e74c3c;
}

/* validation section END */