
.navbar-default {
	border-color: #e7e7e7;
	background-color: white !important;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.title-section{
	margin-top: 100px;
}

.gallery-section{
	margin-top: 20px;
}


